webcam-capture {

}
.view {
	background-color: var(--primary);
	user-select: none;
}

.view .video-line {
	background-color: var(--secondary);
}
.view .video-frame {
	border: 1px solid var(--light);
}
.view .video-image {
	min-width: 160px;
	min-height: 120px;
	background-color: black;
	border: 1px solid black;
	cursor: pointer;
}

.view .video-image .icon {
	max-width: 32px;
	max-height: 32px;
}
.view .video-frame .info-top {

}
.view .video-frame .info-bottom {

}
.view .video-frame .info-left {
	rotate: 90deg;
	margin: 2rem -0.5rem;
}
.view .video-frame .info-right {
	rotate: 90deg;
	margin: 2rem -0.5rem;
}
.view .video-control {
	background-color: var(--red);
}
.view .video-status {

}
.view .video-control .entry {
	cursor: pointer;
	color: var(--dark);
	background-color: var(--primary);
	border-color: 1px solid var(--light);
	padding: 0.5rem 0.5rem;
}

.view .video-control .entry:active {
	color: var(--light);
	background-color: var(--secondary);

}
.view .video-control .entry:hover:not(active) {
	color: var(--dark);
	background-color: var(--light);
}
