webcam-capture {

}
.view {
	background-color: var(--secondary);
	user-select: none;
}

.view .video-line {

}
.view .video-frame {
	border: 1px solid var(--light);
}
.view .video-image {
	min-width: 160px;
	min-height: 120px;
	background-color: black;
	border: 1px solid black;
	cursor: pointer;
}

.view .video-image .icon {
	max-width: 32px;
	max-height: 32px;
}
.view .video-frame .info-top {

}
.view .video-frame .info-bottom {

}
.view .video-frame .info-left {
	rotate: 90deg;
	margin: 2rem -0.5rem;
}
.view .video-frame .info-right {
	rotate: 90deg;
	margin: 2rem -0.5rem;
}

.view .video-status {

}

