.irseny .section {
	border: 2px solid var(--light);
	margin: 0 0.5rem;
}
.irseny .vline {
	border-left: 2px solid var(--light);
}
.irseny .hline {
	horder-top: 2px solid var(--light);
}
.irseny .icon {
	width: 2rem;
	height: 2rem;
	user-select: none;
}
.irseny .icon-placeholder {
	width: 2rem;
	height: 2rem;
	user-select: none;
	visibility: hidden;
}
