/* header row */
.header {
	display: flex;
	flex-direction: row;
	background-color: var(--primary);
	justify-content: center;
	align-items: end;
	align-content: center;
	margin-bottom: 0.4rem;
	user-select: none;
}
/* logo icon */
.header .icon {
	margin: 2px;
}
/* clickable header element */
.header .tab {
	color: black;
	font-weight: bold;
	cursor: pointer;
	flex: 0 0 0;
	text-align: center;
	padding: 0.8rem 1rem;
}
/* hover indicator over clickable elements */
.header .tab:not(.active):hover {
	background-color: var(--light)
}
/* active state for clickable elements */
.header .tab.active {
	color: var(--light);
	background-color: var(--secondary);
}

