bin/*
build/*
obj/*
lib/*.dll
lib/*.so
lib/*.xml

lib/opencv/*
lib/irseny_native/*
lib/webfront.bootstrap/node_modules/*
lib/bootstrap/*
lib/angularjs/*
lib/popperjs/*
lib/jquery/*
lib/**/node_modules
lib/**/package-lock.json
lib/**/dist

project/.codelite
project/.vs
project/.vscode
project/Irseny.userprefs
project/Irseny.Core/bin/*
project/Irseny.Core/obj/*
project/Irseny.Main/bin/*
project/Irseny.Main/obj/*
project/Irseny.Webfront/lib/angular-1.8.0/*
project/Irseny.Webfront/lib/popper-1.16.1/*
project/Irseny.Webfront/lib/jquery-3.5.1/*
project/Irseny.Webfront/css/bootstrap-4.5.0/*
project/Irseny.Native/Irseny.Native.md.pc
project/packages/*
project/compile_commands.json

