bin
obj
trash
lib/Emgu.CV/*
lib/Extrack/*
lib/Gtk/*
lib/Mycena/*
build
project/.vs
project/Extrack/bin
project/Extrack/obj
project/Mycena/bin
project/Mycena/obj
project/Irseny/bin
project/Irseny/obj
project/Irseny.userprefs
*.glade~