bin
obj
trash/*
lib/*
build/*
project/.vs
project/.vscode
project/Irseny.Core/bin
project/Irseny.Core/obj
project/Irseny.Main/bin
project/Irseny.Main/obj
project/Irseny.userprefs
project/Irseny.Webfront/lib/angular-1.8.0
project/Irseny.Webfront/css/bootstrap-4.5.0
project/packages