
<div class="list">
	<!-- list of cameras -->
	<div class="title">
		Cameras
	</div>
	<!--<div ng-repeat="cam in $ctrl.base.availableCameras">-->
	<div ng-repeat="cam in $ctrl.shared.getAvailableCameras()">
		<div class="tab" ng-class="{'active': $ctrl.shared.isActiveCamera(cam)}"  ng-click="$ctrl.shared.setActiveCamera(cam)">
			<!-- selected camera -->
			<!--<div class="icon" ng-repeat="icon in ['Remove', 'Rename']" ng-if="$ctrl.base.activeCamera == cam">
				<a href="#">{{icon}}</a>
			</div>-->
			<!--<img class="icon" src="icon/delete.svg" ng-if="$ctrl.base.activeCamera == cam" alt="Remove">-->
			<img class="icon" src="icon/rename.svg" ng-if="$ctrl.shared.isActiveCamera(cam)" alt="Rename">
			<div class="name">{{cam.data.name}}</div>
		</div>
		<div class="separator"></div>
	</div>
	<!-- add new camera dropdown -->
	<div class="tab">
		<a class="dropdown-toggle active px-3" id="cameraListAddCam" href="#" data-toggle="dropdown">
			Add New
		</a>
		<div class="dropdown-menu" aria-labelledby="cameraListAddCam">
			<a ng-repeat="type in $ctrl.shared.getSensorClasses()"
				class="dropdown-item" href="#" ng-click="">
				{{type}}
			</a>
		</div>
	</div>
	<div class="bottom">
		<!-- empty by intention -->
	</div>
</div>

