<!-- <div class="container-fluid"> -->
	<div class="row">
		<div class="col-1 p-0">
			<div class="navbar navbar-light bg-info">
				<ul class="navbar-nav">
					<li ng-repeat="cam in $ctrl.availableCameras" class="navbar-item d-flex">
						<div class="text-center">
						<a class="nav-link" style="text-right" ng-if="$ctrl.activeCamera != cam" ng-click="console.log('clicked'); $ctrl.activeCamera = cam" href="#">{{cam}}</a>
						</div>
						<a class="nav-link active" ng-if="$ctrl.activeCamera == cam" href="#">{{cam}}</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="col">
			put {{$ctrl.activeCamera}} detail here
		</div>

		<div class="col-1 p-0">
			<div class="navbar navbar-light bg-info">
				<ul class="navbar-nav">
					<li ng-repeat="cam in $ctrl.availableCameras" class="navbar-item">
						<a class="nav-link" ng-if="$ctrl.activeCamera != cam" ng-click="console.log('clicked'); $ctrl.activeCamera = cam" href="#">{{cam}}</a>
						<a class="nav-link active" ng-if="$ctrl.activeCamera == cam" href="#">{{cam}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

<!-- </div> -->
