<div class="details d-flex flex-column">
	<!-- camera configuration -->
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Property</th>
				<th scope="col">
					<div class="d-flex justify-content-stretch">
						<span>Config</span>
						<span style="width: 100%"></span>
						<span>Auto</span>
					</div>
				</th>
			</tr>
		</thead>
		<tbody>
			<!-- camera id -->
			<tr>
				<th scope="row" class="align-self-end">Webcam</th>
				<td>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">ID</span>
						</div>
						<input type="number" min="0" max="32" class="number-cell-4 form-control" placeholder="0"
							ng-model="$ctrl.generateWebcamPropertyGetterSetter('systemId')"
							ng-model-options="{getterSetter: true}"/>
					</div>
			</tr>
			<!-- image resolution -->
			<tr>
				<th scope="row" class="align-self-start">
					Resolution
					<div class="list-group d-flex flex-row" role="tablist">
						<a class="list-group-item" data-toggle="list" role="tab" href="#"
							ng-class="{ 'active': ($ctrl.getResolutionMode() == 'list')}"
							ng-click="$ctrl.setResolutionMode('list')">
							Typical
						</a>
						<a data-toggle="list" role="tab" href="#"
							class="list-group-item"
							ng-class="{ 'active': ($ctrl.getResolutionMode() == 'custom')}"
							ng-click="$ctrl.setResolutionMode('custom')">
							Custom
						</a>
					</div>
				</th>
				<td>
					<!-- typical resolution -->
					<div class="d-flex flex-column" ng-style="$ctrl.getResolutionStyle('list')" >
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="label-cell-12 input-group-text">Aspect Ratio</span>
							</div>
							<div class="dropdown">
								<button class="drop-cell-9 btn btn-primary dropdown-toggle" id="btn_webcamDetailAspectRatio" type="button" data-toggle="dropdown">
									{{ $ctrl.getAspectRatio() }}
								</button>
								<div class="dropdown-menu">
									<a ng-repeat="ratio in $ctrl.getTypicalAspectRatios()" class="dropdown-item" href="#"
										ng-click="$ctrl.setAspectRatio(ratio)">{{ ratio }}</a>
								</div>
							</div>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="label-cell-12 input-group-text">Resolution</span>
							</div>
							<div class="dropdown">
								<button class="drop-cell-9 btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									{{ $ctrl.shared.getActiveSensor().getProperty('frameWidth') }} x {{ $ctrl.shared.getActiveSensor().getProperty('frameHeight') }}
								</button>
								<div class="dropdown-menu">
									<a ng-repeat="res in $ctrl.getTypicalResolutions($ctrl.getAspectRatio())" class="dropdown-item" href="#"
										ng-click="$ctrl.shared.getActiveSensor().setProperty('frameWidth', res.width);
											$ctrl.shared.getActiveSensor().setProperty('frameHeight', res.height);">
										{{ res.width }} x {{ res.height }}
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- custom resolution -->
					<div class="d-flex flex-column" ng-style="$ctrl.getResolutionStyle('custom')">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="label-cell-6 input-group-text">Width</span>
							</div>
							<input class="number-cell-4 form-control" type="number" min="16" max="8192" placeholder="horizontal resolution"
								ng-model="$ctrl.generateWebcamPropertyGetterSetter('frameWidth')"
								ng-model-options="{getterSetter: true}">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="label-cell-6 input-group-text">Height</span>
							</div>
							<input class="number-cell-4 form-control" min="16" max="8192" type="number" placeholder="vertical resolution"
								ng-model="$ctrl.generateWebcamPropertyGetterSetter('frameHeight')"
								ng-model-options="{getterSetter: true}">
						</div>
					</div>
				</td>
			</tr>
			<!-- exposure -->
			<tr>
				<th scope="row" class="align-self-end">Exposure</th>
				<td>
					<div class="input-group">
						<input class="form-control" type="range" min="0" max="100" step="1"
							ng-model="$ctrl.generateWebcamRangeGetterSetter('exposure', 0)"
							ng-model-options="{getterSetter: true}">
						<input class="number-cell-3 form-control" type="number" placeholder="expo" min="0" max="100"
							ng-model="$ctrl.generateWebcamPropertyGetterSetter('exposure')"
							ng-model-options="{getterSetter: true}">
						<div class="input-group-append">
							<div class="input-group-text">
								<input type="checkbox" ng-model="$ctrl.generateWebcamAutoGetterSetter('exposure')"
									ng-model-options="{getterSetter: true}">
							</div>
						</div>
					</div>
				</td>
			</tr>
			<!-- brightness -->
			<tr>
				<th scope="row" class="align-self-end">Brightness</th>
				<td>
					<div class="input-group">
						<input class="form-control" type="range" min="0" max="100" step="1"
							ng-model="$ctrl.generateWebcamRangeGetterSetter('brightness', 0)"
							ng-model-options="{getterSetter: true}">
						<input class="number-cell-3 form-control" type="number" min="0" max="100" placeholder="bright"
							ng-model="$ctrl.generateWebcamPropertyGetterSetter('brightness')"
							ng-model-options="{getterSetter: true}">
						<div class="input-group-append">
							<div class="input-group-text">
								<input type="checkbox" ng-model="$ctrl.generateWebcamAutoGetterSetter('brightness')"
									ng-model-options="{getterSetter: true}">
							</div>
						</div>
					</div>
				</td>
			</tr>
			<!-- gain -->
			<tr>
				<th scope="row">Gain</th>
				<td>
					<div class="input-group">
						<input class="form-control" type="range" min="0" max="100" step="1"
							ng-model="$ctrl.generateWebcamRangeGetterSetter('gain', 0)"
							ng-model-options="{getterSetter: true}">
						<input class="number-cell-3 form-control" type="number" min="0" max="100" placeholder="gain"
							ng-model="$ctrl.generateWebcamPropertyGetterSetter('gain')"
							ng-model-options="{getterSetter: true}">
						<div class="input-group-append">
							<div class="input-group-text">
								<input type="checkbox" ng-model="$ctrl.generateWebcamAutoGetterSetter('gain')"
									ng-model-options="{getterSetter: true}">
							</div>
						</div>

					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="d-flex flex-row justify-content-end">
		<button class="btn btn-primary"ng-click="$ctrl.shared.resetSensor($ctrl.shared.getActiveSensor())">Reset</button>
		<div class="mx-2"></div>
		<button class="btn btn-primary" ng-click="$ctrl.shared.exchangeSensor($ctrl.shared.getActiveSensor())">Apply</button>
		<div class="mx-2"></div>

	</div>
	<!--<div class="input-group">
		<button class="btn input-group-text mx-2" type="submit" ng-click="$ctrl.applyChanges()">Apply</button>
		<button class="btn input-group-text mx-2" type="reset" ng-click="$ctrl.resetChanges()">Reset</button>
	<!--</div>-->
</div>
